@use"../scss/variables"as colors;
.grid{
  background-color:colors.$grid-background-dark;
  min-height: 50vh;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

@media screen and (width <= 766px){
  .grid{
      justify-content: center;
     background-color: colors.$grid-background-white;
     padding: 0;
  }
}