@use"../scss/variables"as *;
.footer{
    background-color:$footer-background-color;
    color: $color-tertiary;
    padding: 20px;
    min-height: 100px;
    text-align: center;
    display: grid;
    place-items: center;

}